---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout>
    <div class="bg-slate-400 my-10 max-w-lg mx-auto rounded-md`">
        <h3>Contact Me</h3>
        <p>Email: <span class="ml-2">teknogyan123@gmail.com</span></p>
        <p>Phone: <span class="ml-2">9456757867</span></p>

        
    </div>
</MainLayout>