---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout>
    <div class="bg-tgBlue text-white  p-4 my-10 w-[400px] mx-auto rounded-lg">
        <h3 class="text-2xl mb-4">Contact Me</h3>
        <p>Email: <span class="ml-2 hover:text-gray-400"> <a href="mailto:teknogyan123@gmail.com">teknogyan123@gmail.com</a></span></p>
        <p>Phone: <span class="ml-2">9456757867</span></p>
        
    </div>
      
      
      
      
</MainLayout>