---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="flex justify-center my-8">
    <a href="https://abstractacademya2.com/">
      <div
        class="flex flex-col justify-between bg-gray-100 hover:bg-tgLightBlue p-4 rounded-md shadow-xl mx-8  w-[300px] h-[300px] cursor-pointer"
      >
        <img src="/img/SS_abstractAcademy.png" alt="" />
        <h3 class="mt-2 font-bold  text-xl">Abstract Academy</h3>
        <p>Premier Coaching Institute in Haldwani</p>
      </div>
    </a>
  </div>
</MainLayout>
