---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="mt-12">
    <h2 class="font-bold text-2xl">Landing Pages</h2>

    <div class="flex justify-center my-4">
      <a href="https://abstractacademya2.com/">
        <div
          class="flex flex-col justify-between bg-gray-100 hover:bg-tgLightBlue p-4 rounded-md shadow-xl mx-8 w-[300px] h-[300px] cursor-pointer"
        >
          <img src="/img/SS_abstractAcademy.png" alt="" />
          <h3 class="mt-2 font-bold text-xl">Abstract Academy</h3>
          <p>Premier Coaching Institute in Haldwani</p>
        </div>
      </a>
    </div>


  <h2 class="font-bold text-2xl mt-12" >Wordpress Websites</h2>

    <div class="flex justify-center my-4">
      <a href="https://buy-properties.co.in/">
        <div
          class="flex flex-col justify-between bg-gray-100 hover:bg-tgLightBlue p-4 rounded-md shadow-xl mx-8 w-[300px] h-[300px] cursor-pointer"
        >
          <img src="/img/SS_buyProperties.png" alt="" />
          <h3 class="mt-2 font-bold text-xl">Buy Properties</h3>
          <p>Leading Realtors in Haldwani</p>
        </div>
      </a>
    </div>
  </div>
</MainLayout>
