---
const date = 2023;
---

<footer id="contact" class="bg-tgBlue text-center text-white">
  <div
    class="flex flex-col md:flex-row justify-center items-center gap-12 md:gap-24 lg:gap-64 mx-auto mt-4 py-4"
  >
    <div>
      <h4 class="font-bold text-xl mb-4 text-center md:text-left">
        Quick Links
      </h4>
      <ul class="flex flex-col gap-2 text-center md:text-left">
        <a class="cursor-pointer hover:text-gray-300"><li>Landing Pages</li></a>
        <a class="cursor-pointer hover:text-gray-300"
          ><li>Wordpress Websites</li></a
        >
        <a class="cursor-pointer hover:text-gray-300"
          ><li>E-Commerce Websites</li></a
        >
      </ul>
    </div>

    <div class="">
      <h4 class="font-bold text-xl mb-4 text-center md:text-left">About us</h4>
      <ul class="flex flex-col gap-2 text-center md:text-left">
        <a class="cursor-pointer hover:text-gray-300"><li>Our Goals</li></a>
        <a class="cursor-pointer hover:text-gray-300"><li>Our Team</li></a>
        <a href="/contact" class="cursor-pointer hover:text-gray-300"
          ><li>Contact Us</li></a
        >
      </ul>
    </div>

    <div>
      <h4 class="font-bold text-xl mb-4 text-center md:text-left">Follow Us</h4>
      <ul class="flex flex-col gap-2 text-center md:text-left">
        <a class="cursor-pointer hover:text-gray-300"><li>Instagram</li></a>
        <a class="cursor-pointer hover:text-gray-300"><li>Twitter</li></a>
        <a class="cursor-pointer hover:text-gray-300"><li>Facebook</li></a>
      </ul>
    </div>

    <div>
      <h4 class="font-bold text-xl mb-4 text-center md:text-left">
        Subscribe to our newsletter
      </h4>
      <div class="flex flex-col gap-2 items-center text-center md:text-left">
        <input type="text" placeholder="Email" class="pl-2 h-8 rounded-md outline-none text-black">
        <input type="button" value="Send" class="bg-tgLightBlue w-fit p-1 rounded-md hover:text-tgLightBlue hover:bg-white ">
      </div>
    </div>
  </div>
  <div class="mt-8 bg-tgLightBlue text-gray-700 py-2 font-bold">
    <p>Copyright &copy; {date}, TeknoGyan</p>
  </div>
</footer>
