<nav
  class="relative bg-red-300 flex px-2 py-2 mx-auto justify-center md:justify-between items-center"
>
  <div class="w-16  pl-4 py-1">
    <a href="/">
      <img src="public/img/logo-no-background.png" alt="TeknoGyan Logo" >
    </a>
  </div>
  <div class="hidden md:flex space-x-4">
    <a
      href="/"
      class=" px-2 py-1 text-white rounded-lg hover:scale-110"
      >Home</a
    >
    <a
      href="#about"
      class=" px-2 py-1 text-white rounded-lg hover:scale-110"
      >About</a
    >
    <a
      href="#projects"
      class=" px-2 py-1 text-white rounded-lg hover:scale-110"
      >Projects</a
    >
    <a
      href="contact"
      class=" px-2 py-1 text-white rounded-lg hover:scale-110"
      >Contact</a
    >
  </div>
  <div class="absolute top-6 right-2 text-2xl md:hidden">
    <i class="fa-solid fa-bars-staggered"></i>
  </div>
</nav>
