<nav
  class="relative flex px-2 py-2 mx-auto justify-center md:justify-between items-center"
>
  <div class="hidden md:block w-16 pl-4 py-1">
    <a href="/">
      <img src="/img/logo-no-background.png" alt="TeknoGyan Logo" />
    </a>
  </div>

  <!-- PC menu -->
  <div class="hidden md:flex space-x-4">
    <a
      href="/"
      class="px-2 py-1 text-tgBlue rounded-lg hover:bg-tgBlue hover:text-white"
      >Home</a
    >
    <a
      href="about"
      class="px-2 py-1 text-tgBlue rounded-lg hover:bg-tgBlue hover:text-white"
      >About</a
    >
    <a
      href="#projects"
      class="px-2 py-1 text-tgBlue rounded-lg hover:bg-tgBlue hover:text-white"
      >Projects</a
    >
    <a
      href="contact"
      class="px-2 py-1 text-tgBlue rounded-lg hover:bg-tgBlue hover:text-white"
      >Contact</a
    >
  </div>

  <!-- mobile menu -->
  <div class="md:hidden w-16 pl-4 py-1">
    <a href="/">
      <img src="/img/logo-no-background.png" alt="TeknoGyan Logo" />
    </a>
  </div>

  <div id="mobile-menu" class="absolute top-[-1000px] pt-52 bg-tgLightBlue w-screen h-screen  flex flex-col md:hidden gap-16 ease-in duration-300 ">
    <a
      href="/"
      class="px-2 py-1 text-white font-bold rounded-lg hover:scale-105"
      >Home</a
    >
    <a
      href="about"
      class="px-2 py-1 text-white font-bold rounded-lg hover:scale-105"
      >About</a
    >
    <a
      href="#projects"
      class="px-2 py-1 text-white font-bold rounded-lg hover:scale-105"
      >Projects</a
    >
    <a
      href="contact"
      class="px-2 py-1 text-white font-bold rounded-lg hover:scale-105"
      >Contact</a
    >
  </div>


  <div id="menu-icons">
    <div id="menu-bar" class="absolute top-6 right-2 text-3xl md:hidden">
      <i class="fa-solid fa-bars-staggered"></i>
    </div>
  
    <div id="menu-cross" class="hidden absolute top-6 right-2 text-3xl md:hidden">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
  
</nav>

<script>
  const menuIcons = document.getElementById('menu-icons');
  const menuBar = document.getElementById('menu-bar');
  const menuCross = document.getElementById('menu-cross')
  const mobileMenu = document.getElementById('mobile-menu');
  menuIcons.addEventListener("click", () => {
    menuBar.classList.toggle("hidden");
    menuCross.classList.toggle('hidden');
    mobileMenu.classList.toggle('top-[-1000px]');
    mobileMenu.classList.toggle('top-0');

  })
</script>