<section
  class="container mx-auto mt-8 flex flex-col md:flex-row gap-6 justify-center items-center"
>
  <div
    class="flex-col mx-4 space-y-5 items-center text-center justify-center md:w-1/2"
  >
    <h2 class="font-bold">
      Welcome To
      <span class="text-tgBlue font-bold text-xl">TeknoGyan</span>.
    </h2>
    <p>
    <span class="text-tgBlue font-bold text-xl">TeknoGyan</span>
      is your one-stop destination for all your web development needs. We
      specialize in creating stunning full-stack applications, dynamic WordPress
      websites, and engaging landing pages that help you reach your target
      audience effectively. With our team of skilled developers and designers,
      we are committed to providing you with exceptional web development
      services that cater to your unique business needs. Whether you are a
      startup, a small business or a large enterprise, we are here to help you
      achieve your digital goals.
    </p>
    <a
      class="text-tgBlue px-2 py-1 inline-block mt-2 rounded-lg hover:bg-tgBlue hover:text-white"
      >Know More</a
    >
  </div>
  <div class="md:w-1/2 px-8 my-4">
    <img src="./img/undraw_web_devices_re_m8sc.svg" alt="" class="" />
  </div>
</section>
