<div class="my-12">
  <h2 class="mx-auto font-bold text-center text-2xl">Services</h2>
  <section
    id="projects"
    class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mx-auto items-center text-center m-12"
  >
    <div
      class="bg-gray-100 hover:bg-tgLightBlue p-4 rounded-md shadow-xl mx-auto rounded-b-none border-b-green-300 border-b-4 w-[300px] h-[300px] cursor-pointer"
    >
      <i class="fa-solid fa-laptop-code text-8xl w-40"></i>
      <h3 class="mt-2 font-bold">Web Development</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam placeat
        hic delectus vel cum a quis id sequi odit quidem!
      </p>
    </div>

    <div
      class="bg-gray-100 hover:bg-tgLightBlue p-4 rounded-md shadow-xl mx-auto  rounded-b-none border-b-red-400 border-b-4 w-[300px] h-[300px] cursor-pointer"
    >
      <i class="fa-solid fa-terminal text-8xl w-40"></i>
      <h3 class="mt-2 font-bold">Software Development</h3>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        magnam ullam ab repellendus. Eligendi ex odit cum fugit harum animi?
      </p>
    </div>

    <div
      class="bg-gray-100 hover:bg-tgLightBlue p-4 rounded-md shadow-xl mx-auto rounded-b-none border-b-orange-300 border-b-4 w-[300px] h-[300px] cursor-pointer"
    >
      <i class="fa-brands fa-wordpress text-8xl w-40"></i>
      <h3 class="mt-2 font-bold">Wordpress Websites</h3>
      <p>
        Get Landing Pages, Blogs, Portfolio Websites, Event Pages built with
        Wordpress.
      </p>
    </div>

    <div
      class="bg-gray-100 hover:bg-tgLightBlue p-4 rounded-md shadow-xl mx-auto rounded-b-none border-b-purple-300 border-b-4 w-[300px] h-[300px] cursor-pointer"
    >
      <i class="fa-solid fa-laptop text-8xl w-40"></i>
      <h3 class="mt-2 font-bold">Landing pages</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam placeat
        hic delectus vel cum a quis id sequi odit quidem!
      </p>
    </div>

    <div
      class="bg-gray-100 hover:bg-tgLightBlue p-4 rounded-md shadow-xl mx-auto rounded-b-none border-b-cyan-300 border-b-4 w-[300px] h-[300px] cursor-pointer"
    >
      <i class="fa-solid fa-microchip text-8xl w-40"></i>
      <h3 class="mt-2 font-bold">Mobile Apps</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam placeat
        hic delectus vel cum a quis id sequi odit quidem!
      </p>
    </div>

    <div
      class="bg-gray-100 hover:bg-tgLightBlue p-4 rounded-md shadow-xl mx-auto rounded-b-none border-b-pink-400 border-b-4 w-[300px] h-[300px] cursor-pointer"
    >
    
      <i class="fa-solid fa-circle-question text-8xl w-40"></i>
      <h3 class="mt-2 font-bold">Tech Consultations</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam placeat
        hic delectus vel cum a quis id sequi odit quidem!
      </p>
    </div>

  </section>
</div>
